@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Roboto+Slab:wght@500&family=Source+Sans+Pro:wght@200;400;600&display=swap');

body {
    background-color: #eee;
}

.newspaper-container {
    background-color: white;
    border-radius: 10px;
    font-family: "Source Sans Pro";
    width: 700px;
    margin: auto;
    padding: 1em;
    box-shadow: 2px 2px 10px lightgrey;
}

.more-articles {
    display: flex;
    border-top: 2px solid #eee;
    justify-content: center;
}

h1 {
    font-size: 2.5em;
    text-align: center;
}

h1, .author {
    font-family: "Abril Fatface";
}

h2, h4 {
    font-family: "Roboto Slab";
}

.additional h4 {
    min-height: 3em;
}

.author {
    color: #dd3232;
}

nav {
    position: sticky;
    top: 0em;
    background-color: white;
    border-top: 2px solid #eee;
    border-bottom: 2px solid #eee;
}

main {
    margin-bottom: 2em;
}

section {
    display: inline-block;
    padding: 0em 1em;
}

ul {
    display: flex;
    list-style: none;
    justify-content: center;
    padding: 0px;
    margin: 0.5em
}

li {
    display: inline-block;
    padding: 0px 5px;
}

a {
    text-decoration: none;
    color: #777;
}

p {
    text-align: justify;
}

img {
    width: 100%;
}

.additional img {
    object-fit: cover;
    height: 6em;
    background-position: center center;
    filter: grayscale(100%);
}

footer {
    border-top: 3px double lightgray;
}

#footer-title {
    font-family: "Abril Fatface";
    margin: 0em 0em 1em 0em;
}

#footer-content {
    display: flex;
}

.footer-column {
    width: 100%;
}

.subscribe {
    padding-left: 0.5em;
    border-left: 2px solid #eee;
}

.other-subscriptions a:first-child {
    padding-top: 1em;
}

.major-subscriptions {
    padding-bottom: 0.5em;
    border-bottom: 2px solid #eee;
}

.very-major-subscriptions a {
    color: black;
    font-size: 12px;
    font-weight: bolder;
}

.footer-topic {
    font-size: 10px;
    margin: 0;
    padding: 0.2em 0em;
}

.footer-link {
    display: block;
    text-decoration: none;
    font-size: 10px;
    padding: 0.2em 0em;
}

.footer-link:hover {
    text-decoration: underline;
}